{% extends "main.html" %}

 {% block fluidcontent %}
    
        <div class="span9">
			  <div class="row-fluid">
	            <div class="span9">
					<div class="well unit-bg">
							<legend>
	            				{% block top_content %}{% endblock %}
							</legend>
					</div>
	            </div><!--/span-->
	          </div><!--/row-->
		
	
          <div class="row-fluid">
            <div class="span9">
            {% block center_content %}{% endblock %}
            </div><!--/span-->
          </div><!--/row-->
         
        </div><!--/span-->

{% endblock %}