{% extends "main.html" %}
{% block fluidcontent %}
        <div class="span9">
          <!--div class="hero-unit">
            {% block hero_content %}{% endblock %}
          </div-->
			<div class="row unit-block">
				<div class="span9 unit-bg">
					<div class="unit">
						Hej
					</div>
				</div>
			</div>	
			
          <div class="row-fluid">
            <div class="span8">
            {% block left_content %}{% endblock %}
            </div><!--/span-->
            <div class="span4">
           {% block center_content %}{% endblock %}
            </div><!--/span-->
            <div class="span4">
{% block right_content %}{% endblock %}
            </div><!--/span-->
          </div><!--/row-->
         
        </div><!--/span-->
 {% endblock %}