{% extends "main.html" %}
{% block fluidcontent %}
    
        <div class="span9">
			 <div class="row-fluid">
	            <div class="span9">
					<div class="well unit-bg">
						{% block top_content %}{% endblock %}					
					</div>
	            </div><!--/span-->
	          </div><!--/row-->
	
          <div class="row-fluid">
            <div class="span5">
            {% block left_content %}{% endblock %}
            </div><!--/span-->
            <div class="span4">
				{% block right_content %}{% endblock %}
            </div><!--/span-->
          </div><!--/row-->
         
        </div><!--/span-->
      </div><!--/row-->
{% endblock %}
   