{% extends "main_2cols.html" %}
{% load cms_tags sekizai_tags %}
{% block title %}
  Describe your trip
{% endblock %}
{% block left_content %}
{% placeholder "create_trip_header" %}
<div class="well unit-bg">

 <form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
</div>
{% endblock %}
{% block right_content %}
{% placeholder "create_trip" %}
{% endblock %}
{% block scripts %}  
	<script>
	var input = document.getElementById('id_destination');
	autocomplete = new google.maps.places.Autocomplete(input);
	</script>
{% endblock %}
