
{% extends "main_hero_1cols.html" %}
{% load cms_tags sekizai_tags disqus_tags %}
{% block title %}
  {{ object.name }}
{% endblock %}

{% block meta_description %}
	{{trip.description }}
{% endblock %}

{% block meta_keywords %}
	{{trip.destination}}, {{trip.type_of_trip}}, Packing, Travel, Bag, Luggage
{% endblock %}

{% block hero_content %}
	<legend id="trip_name">{{trip.name}}</legend>
	<ul class="nav nav-tabs">
		<li class="active"><a href="#pack_list" data-toggle="tab">Pack List</a></li>
		<li><a href="#description" data-toggle="tab">Description</a></li>
		<li><a href="#discussion" data-toggle="tab">Discussion</a></li>
		<li><a href="#members" data-toggle="tab">Members</a></li>

	</ul>
{% endblock %}
{% block center_content %}
	<div class="tab-content">
		<div class="tab-pane active" id="pack_list"><!-- Pack List -->
			<div class="span6">
				<div class="well unit-bg">
					<div class="caption">
						<h4>Your Items</h4>
					</div>
					<ul id="items" data-bind="foreach: items">
						<li>
							{% if is_owner%}
							<input type="checkbox" data-bind="checked: is_packed, click: $root.setPacked" />
							<i class="icon-minus-sign" data-bind="click: $root.removeItem" ></i> 
							{% endif %}
							<span data-bind="text: quantity"></span>
							{% if is_owner%}
							<i class="icon-plus-sign" data-bind="click: $root.increaseQuantity" ></i> 
							{% endif %}
							<span data-bind="text: name">
							</span>
						</li>
					</ul>
					{% if is_owner%}
					<hr/>
					<input id="search_items_input" data-bind="value: itemToAdd" class="pull-left"/>
					<i class="icon-plus-sign button add_item_image pull_right" data-bind="click: $root.addItem"></i>
					{% endif %}
				</div>
			</div><!--span -->

			<div class="span6">
				<div class="well unit-bg">
					{% if is_owner%}
					<div class="caption">
						<h4>Suggested Items</h4>
					</div>
					<ul id="popular_items" data-bind="foreach: popular_items">
						<li>
							<i  class="icon-plus-sign" data-bind="click: $root.moveFromPopularItem"></i> 
							<span data-bind="text: name" />
						</li	>
					</ul>
					{% endif %}
				</div>
			</div><!--span -->

		
		</div>
		<div class="tab-pane" id="description"><!-- Description -->
			<div class="span12">
				<div class="well unit-bg">
					<span id="trip_description">{{trip.description}}</span>
					<!--><ul data-bind="foreach: hotels">
						<li data-bind="text: name"></li>
						<li data-bind="text: address"></li>
						<img data-bind="attr: {src: thumbnail}" />
						<a data-bind="attr: {href: deeplink}">Book Hotel</a>
					</ul>-->
				</div>
			</div>
		</div>
			<div class="tab-pane" id="discussion"><!-- Disqus -->
				<div class="span12">
					<div class="well unit-bg">
						{% disqus_dev %}
						{% disqus_show_comments %}
					</div>
				</div>
			</div>
	</div>
{% endblock %}

{% block scripts %}
<script>

// Class to represent an item
function Item(name, uri, relationsship_id, quantity, is_packed) {
    var self = this;
    self.name = name;
	self.relationship_uri = relationsship_id;
	self.resource_uri = uri;
	self.is_packed = ko.observable(is_packed == "True");
	self.quantity = ko.observable( quantity );
}

function Hotel(name, address, thumbnail, deeplink ) {
	var self = this;
	self.name = name;
	self.address = address;
	self.deeplink = deeplink;
	self.thumbnail = "http://www.hotels.com" + thumbnail;
}

// Model holding data for the view
function TripViewModel() {
	var self = this;

	self.friends = ko.observableArray({% for friend in friends%}
			{{friend}}
		{% endfor %});

	self.members = ko.observableArray([
		{% for member in members%}
			new User('{{item.name}}', '/api/v1/item/{{item.id}}/', ''),
		{% endfor %}
		]);

	// Populate initial popular items
	self.popular_items = ko.observableArray([	
		{% for item in popular_items%}
			new Item('{{item.name}}', '/api/v1/item/{{item.id}}/', ''),
		{% endfor %}
		]);	

	// populate initial items
	self.items = ko.observableArray([	
		{% for item in items%}
				new Item('{{item.item.name}}',
						'/api/v1/item/{{item.item.id}}/', 
						'/api/v1/tripitemrelationship/{{item.id}}/',  
						{{item.quantity}}, '{{item.packed}}'),
		{% endfor %}
		]);
	
	self.hotels = ko.observableArray();
	
	self.itemToAdd = ko.observable();
	
	// Removes item from item list, if quantity == 0 it is removed completely
	self.removeItem = function(item) {
		if( item.quantity() > 1 ) {
			item.quantity( item.quantity()-1);
			updateItemRelationship( item );
		} else {
			self.items.remove(item);
			self.popular_items.push(item);
			removeItem(item.relationship_uri);
			
		}
	};
	
	// Increase quantity of item 
	self.increaseQuantity = function( item ) {
		item.quantity(item.quantity()+1);
		updateItemRelationship( item );
	}
	
	self.addItem = function(  ) {
		var item = saveItem( self.itemToAdd  );
	}
	
	// Saves the is packed flag to the server
	self.setPacked = function( item ) {
		updateItemRelationship( item );
		return true;
	}
	
	// Saves the item to the server
	self.updateItem = function( item ) {
		updateItemRelationship( item );
	}
	
	// Moves item from popular item to item list
	self.moveFromPopularItem = function(item) { 
		self.popular_items.remove(item);
		item.quantity(1);
		addItem( self, item, '/api/v1/trip/{{trip.id}}/', 1);
	}
	
	self.getFacebookFriends = function() {
		$.ajax({
			type: "GET",
			url: "https://graph.facebook.com/me/friends?access_token={{access_token}}",
			contentType: "application/jsonp",
			dataType: "jsonp",
			success: function(xhr, txt, c){
				var friends = xhr.data;
				for( var i in friends) {
					
					self.friends.push(friends[i]);
				}
			}
		});
	}
	
	/**
	* Gets hotels from hotel.com
	**/
	self.getHotels = function() {
		$.ajax({
			type: "GET",
			url: "http://api.ean.com/ean-services/rs/hotel/v3/list?cid=55505&apiKey=6m8j522wmbhref5ymc2s4pf3&city={{trip.destination}}&arrivalDate={{trip.startDate|date:"m/d/Y" }}&departureDate={{trip.endDate|date:"m/d/Y"}}",
			contentType: "application/jsonp",
			dataType: "jsonp",
			success: function(xhr, txt, c){
				var hotels = xhr.HotelListResponse.HotelList.HotelSummary	;
				for( var i in hotels) {
					var hotel = new Hotel( hotels[i].name, hotels[i].address1, hotels[i].thumbNailUrl, hotels[i].deepLink );
					self.hotels.push(hotel);
				}
			}
		});
	}
	
}	


	var tripModel = new TripViewModel();
	var tmpName;
	ko.applyBindings( tripModel );
	tripModel.getHotels();
	tripModel.getFacebookFriends();
	
	$( "#search_items_input" ).autocomplete({
		source: function( request, response ) {
			$.ajax({
				url: "/api/v1/item/",
				dataType: "jsonp",
				data: {
					name__contains: request.term
				},
				success: function( data ) {
					response( $.map( data.objects, function( item ) {
						return {
							label: item.name,
							value: item.name,
						}
					}));
				}
			});
		},
		minLength: 2,
		select: function( event, ui ) {
		},
		open: function() {	
		},
		close: function() {
		}
	});

	function addMember( context, item, user) {
		var json = new Object()
		json['trip'] = '/api/v1/trip/'+trip.id
		json['user'] = '/api/v1/user/'+user.id
		var uri;
		$.ajax({
			type: "POST",
			url: "/api/v1/tripitemrelationship/",
			contentType: "application/json",
			data: JSON.stringify(json),
			success: function(xhr, txt, c){
				echo(c);
			},	
		});
	}
	
	/**
	* Adds relationship between item and trip
	**/
	function addItem( context, item, tripUri ) {
		var json = new Object();
		json['trip'] = tripUri;
		json['item'] = 	item.resource_uri;
		var uri;
		$.ajax({
			type: "POST",
			url: "/api/v1/tripitemrelationship/",
			contentType: "application/json",
			data: JSON.stringify(json),
			success: function(xhr, txt, c){
				url = c.getResponseHeader('location');
				var a = document.createElement('a');
				a.href = url;
				var resource = a.pathname + a.search; // /file.php?id=1
				item.relationship_uri = resource;
				context.items.push( item );
			},	
		});
	}
		
	/**
	* Removes relationship between item and trip
	**/
	function removeItem( relationship_uri ) {	
			$.ajax({
			    type: "DELETE",
			    url: relationship_uri,
				contentType: "application/json",
			
			});		
	}
		
	/**
	* Saves item in database and creates a relationship to the current trip 
	**/
	function saveItem( name ) {
		var item = new Object();
		item['name'] = name()
		$.ajax({
			type: "POST",
			url: "/api/v1/item/",
			contentType: "application/json",
			data: JSON.stringify(item),
			success: function(xhr, txt, c){
				url = c.getResponseHeader('location');
				var a = document.createElement('a');
				a.href = url;
				var resource = a.pathname + a.search; // /file.php?id=1
			
				
				var item = new Item(name, resource, "", 1, false);
				
				item.resource_uri = resource ;
				item.name=name;
				item.quantity(1);
				item.packed = false;
				addItem(tripModel, item, '/api/v1/trip/{{trip.id}}/', 1);
			}
		});
	}
		
	/** 
	* Updates relationship, ie quantity and is_packed
	**/
	function updateItemRelationship( item ) {
		var tripItemRelationship = new Object();
		tripItemRelationship['quantity'] = item.quantity();
		tripItemRelationship['packed'] = item.is_packed();
		$.ajax({
			type: "PATCH",
			url: item.relationship_uri,
			contentType: "application/json",
			dataType: "application/json",
			data: JSON.stringify(tripItemRelationship),	
		})
	}
	
	/**
	* Edits trip properties 
	**/
	function editTrip( field, value ) {
		var trip = new Object()
		trip[field] = value;
		$.ajax({
			type: "PATCH",
			url: "/api/v1/trip/{{trip.id}}/",
			contentType: "application/json",
			dataType: "application/json",
			data: JSON.stringify(trip),	
		})
	  return value;	
	}
	
	/**
	* Gets hotels from hotel.com
	**/
	function getHotels() {
		$.ajax({
			type: "GET",
			url: "http://api.ean.com/ean-services/rs/hotel/v3/list?cid=55505&apiKey=6m8j522wmbhref5ymc2s4pf3&city={{trip.destination}}&arrivalDate={{trip.startDate|date:"m/d/Y" }}&departureDate={{trip.endDate|date:"m/d/Y"}}",
			contentType: "application/jsonp",
			dataType: "jsonp",
			success: function(xhr, txt, c){
				var hotels = xhr.HotelListResponse.HotelList.HotelSummary	;
				for( var i in hotels) {
					var hotel = new Hotel( hotels[i].name, hotels[i].address1, hotels[i].thumbNailUrl, hotels[i].deepLink );
					tripModel.hotels.push(hotel);
				}
			}
		});
	}
	
	{% if is_owner %}
		$('#trip_description').editable(function(value, settings){
			return editTrip('description', value );
		}, { 
			type: "textarea",
			cssclass: "description_input",
			submit: "Ok",
			cancel: "Cancel"
		});
	
		$('#trip_name').editable(function(value, settings){
			return editTrip('name', value );
		});
	{% endif %}
</script>
{% endblock %}

